ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=https://localhost:7103;http://localhost:5234
ConnectionStrings__WoahDb=
Woah__Db__Host=
Woah__Db__Port=5432
Woah__Db__Name=
Woah__Db__User=
Woah__Db__Password=
Woah__Db__SslMode=
Woah__Db__TrustServerCertificate=
Woah__Spotify__ClientId=
Woah__Spotify__ClientSecret=
Woah__Spotify__Market=PL
Woah__Lobby__MaxPlayers=10
Woah__Tracks__PreviewSeconds=10
Woah__Caching__TrackCacheTtlHours=168
Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft=Warning
Logging__LogLevel__Microsoft.Hosting.Lifetime=Information