# --- Environment ---
ASPNETCORE_ENVIRONMENT=Dev
ASPNETCORE_URLS=

ConnectionStrings__WoahDb=

Woah__Spotify__ClientId=
Woah__Spotify__ClientSecret=
Woah__Spotify__Market=PL

Woah__Lobby__MaxPlayers=10
Woah__Tracks__PreviewSeconds=10
Woah__Caching__TrackCacheTtlHours=168

Logging__LogLevel__Default=Information
Logging__LogLevel__Microsoft=Warning
Logging__LogLevel__Microsoft.Hosting.Lifetime=Information