# .NET
bin/
obj/
*.user
*.suo
*.cache
*.vs/
Properties/launchSettings.json

# User secrets
secrets.json

# Node / Frontend
node_modules/
dist/

# IDE
.vs/
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
pgdata/

# Environment
.env